<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.waimai.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.example.waimai.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="openId" property="openId" jdbcType="VARCHAR" />
        <result column="nickName" property="nickName" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="INTEGER" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="avatarUrl" property="avatarUrl" jdbcType="VARCHAR" />
        <result column="unionId" property="unionId" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, openId, nickName, gender, city, country, avatarUrl, unionId, province
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from user
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user
        where openId = #{openId,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.example.waimai.entity.User"  >

        INSERT INTO user1
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="openId != null" >
                openId,
            </if>
            <if test="nickName != null" >
                nickName,
            </if>
            <if test="gender != null" >
                gender,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="country != null" >
                country,
            </if>
            <if test="avatarUrl != null" >
                avatarUrl,
            </if>
            <if test="unionId != null" >
                unionId,
            </if>
            <if test="province != null" >
                province,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="openId != null" >
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null" >
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null" >
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null" >
                #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null" >
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
        </trim>
<!--        values-->
<!--        <foreach collection="list" item="item" index="index" separator=",">-->
<!--            ("${id}",-->
<!--            "${openId}",-->
<!--            "${nickName}",-->
<!--            "${gender}",-->
<!--            "${city}",-->
<!--            "${country}",-->
<!--            "${avatarUrl}",-->
<!--            "${unionId}",-->
<!--            "${province}")-->

<!--        </foreach>-->

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.waimai.entity.User" >
        update user
        <set >
            <if test="openId != null" >
                openId = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null" >
                nickName = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null" >
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null" >
                avatarUrl = #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null" >
                unionId = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>